/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-family: Helvetica, Arial-Hebrew, Arial, sans-serif ; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: Helvetica, Arial-Hebrew, Arial, sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/**************/
/*Main content*/

html{height:100%;}
body{background: url(../img/uc-bg.jpg) repeat 50% 50%; height:100%;}

.general-header{}
.general-footer{position:relative; width: 825px; padding: 15px 0; margin: 0 auto; background: url(../img/footer-devider.png) no-repeat 50% 0;}
.general-footer .copy{ float:left;}
.general-footer .social{}
.general-footer .social a{display: inline-block; width:50px; height:50px; border:1px solid #000; margin: 0 5px; }
/*Under construction*/
.under-construction{position: relative; height:100%; min-height: 500px; min-width: 800px;}
.under-construction .logo{position: absolute; width: 824px; height: 140px; background: url(../img/uc-logo.png) no-repeat 0 0; top: 30% ;left: 50%; margin-left: -412px;}
.under-construction .text{position: absolute; width: 824px; height: 22px; background: url(../img/uc-text.png) no-repeat 0 0; top: 56% ;left: 50%; margin-left: -412px;}

@media all and (max-width: 824px){
    .under-construction{min-width:0; min-height: 400px; width:100%;}
    .under-construction .logo{width: 100%; height: 100%; background-size: contain; margin:auto; left:0; }
    .under-construction .text{width: 100%; height: 100%; background-size: contain;  margin: auto; left: 0;}
}

/*Fairy pages*/
.fairy-page{}
.parchment{position: relative; width: 583px; height: 601px; background: url(../img/fp-parchment.gif) no-repeat 0 0; margin: 0 auto 20px;}
.parchment-bg{height: 100%; background: url(../img/fp-parchment.png) no-repeat 0 0;}
.parchment .fairy{position: absolute; left: 375px; top: 85px; width: 175px; height: 330px; border: 1px solid #000;}
.parchment .stamp{position: absolute; left: 62px; top: 395px; width: 93px; height: 262px; border: 1px solid #000;}
.parchment .header{margin: 85px 215px 10px 0; height: 40px; width: 300px; border:1px solid #000;}
.parchment .text{margin: 0 215px 10px 0; height: 240px; width: 300px; border:1px solid #000;}
.parchment .footer{margin: 0 270px 10px 0; width: 240px; border:1px solid #000;}
.parchment .approval{}
.parchment .magic-fairy{height: 30px; width: 150px; border:1px solid #000;}
.parchment .logo{margin-right: 40px; height: 40px; width: 150px; border:1px solid #000;}

.fairy-page .print-certificate{width: 200px; height: 40px; margin: 0 auto; display:block; border:1px solid #000;}
.fairy-page .general-footer{box-sizing: border-box; padding: 15px 130px}

/**************/



.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
