<article class="parchment {{class}}">
    <div class="parchment-bg clearfix">
        <div class="fairy"></div>
        <div class="stamp"></div>
        <header>
            <h1 class="header ir">{{header}}</h1>
        </header>
        <div class="text">
            <p>{{{text}}}</p>
        </div>

        <footer class="footer">
            <span class="approval">באישור</span>
            <span class="magic-fairy ir">הפיה הקסומה</span>
        </footer>
        <div class="logo ir">טיפות טל</div>
    </div>
</article>
<a class="print-certificate ir" type="button">להדפיס את התעודה</a>
